/*Sand Tan: #e1b382

Sand Tan Shadow: #c89666

Night Blue: #2d545e

Night Blue Shadow: #12343b
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c89666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 1200px;
  background-color: #e1b382;
  height: 100vh;
  margin-top: -100px;
  
  border-radius: 10px;
  display: flex;
}

.wrapper--left{
display: flex;
flex-direction: column;
width: 40%;
}

.wrapper--right{
display: flex;
flex-direction: column;
width: 60%;
}

.entrance{
  position: relative;
  margin: 20px;
  background-color: #2d545e;
  width: 1550px;
  height: 600px;
  z-index: -1;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.entrance--left {
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 150px;
}

.entrance--hey {
  font-size: 3rem;
}

.entrance--hey::after {
  content: "";
  background-color: white;
  width: 253px;
  height: 5px;
  display: block;
}

.entrance--icon {
  height: 30px;
  width: 30px;
  background-color: white;
  margin: 10px;
color: #2d545e;
border-radius: 50%;
border: 0.5px solid white;
display: flex;
justify-content: center;
align-items: center;
}

.entrance--icons {
  display: flex;
}

.entrance--right {
  padding-right: 100px;
  padding-top: 50px;
}

.entrance--portrait {
  width: 400px;
}

.about {
background-color: #12343b;
color: #e1b382;
padding: 30px;
}

.qualifications {
background-color: #12343b;
color: #e1b382;
padding: 30px;
}

.process{
  padding: 10px;
  color: #12343b;
  padding: 30px;
}

.projects{
  padding: 10px;
  color: #12343b;
  padding: 30px;
}